In [142]:
inTeams<-read.csv("https://projects.fivethirtyeight.com/soccer-api/club/spi_global_rankings.csv")
head(inTeams)

  rank prev_rank name            league                   off  def  spi
1 1    1         Manchester City Barclays Premier League  2.90 0.20 93.73
2 2    2         Liverpool       Barclays Premier League  2.92 0.25 93.15
3 3    3         Bayern Munich   German Bundesliga        3.62 0.56 93.01
4 4    4         Chelsea         Barclays Premier League  2.39 0.29 88.69
5 5    5         Barcelona       Spanish Primera Division 2.60 0.49 86.87
6 6    6         Ajax            Dutch Eredivisie         3.05 0.77 86.20

In [143]:
mean.off<-mean(inTeams$off)
mean.def<-mean(inTeams$def)
lmean.off<-mean(log(inTeams$off))
lmean.def<-mean(log(inTeams$def))

In [144]:
premLeague<-subset(inTeams,league=="Barclays Premier League")
premTeams<-premLeague$name
rownames(premLeague)<-premTeams
df.prem<-premLeague[,c("off","def")]
df.prem

                         off  def
Manchester City          2.90 0.20
Liverpool                2.92 0.25
Chelsea                  2.39 0.29
Arsenal                  2.16 0.46
Tottenham Hotspur        2.36 0.65
Manchester United        2.19 0.67
Aston Villa              1.99 0.63
West Ham United          2.02 0.73
Brighton and Hove Albion 1.85 0.62
Crystal Palace           1.89 0.69
Wolverhampton            1.73 0.61
Southampton              1.94 0.89
Leicester City           2.04 1.00
Brentford                1.80 0.85
Newcastle                1.75 0.82
Burnley                  1.62 0.83
Everton                  1.70 0.93
Leeds United             1.92 1.15
Watford                  1.65 1.08
Norwich City             1.51 1.19

In [145]:
lmean.def<- log(mean(df.prem$def))
lmean.off<- log(mean(df.prem$off))               
df.prem["alpha"]<-log(df.prem["off"])-lmean.def
df.prem["delta"]<-lmean.off-log(df.prem["def"])
df.prem

                         off  def  alpha     delta
Manchester City          2.90 0.20 1.3835395 2.3108012
Liverpool                2.92 0.25 1.3904124 2.0876577
Chelsea                  2.39 0.29 1.1901222 1.9392377
Arsenal                  2.16 0.46 1.0889370 1.4778921
Tottenham Hotspur        2.36 0.65 1.1774904 1.1321463
Manchester United        2.19 0.67 1.1027303 1.1018409
Aston Villa              1.99 0.63 1.0069634 1.1633988
West Ham United          2.02 0.73 1.0219263 1.0160741
Brighton and Hove Albion 1.85 0.62 0.9340144 1.1793991
Crystal Palace           1.89 0.69 0.9554056 1.0724270
Wolverhampton            1.73 0.61 0.8669502 1.1956597
Southampton              1.94 0.89 0.9815168 0.8178972
Leicester City           2.04 1.00 1.0317786 0.7013633
Brentford                1.80 0.85 0.9066155 0.8638823
Newcastle                1.75 0.82 0.8784446 0.8998143
Burnley                  1.62 0.83 0.8012550 0.8876929
Everton                  1.70 0.93 0.8494571 0.7739340
Leeds United             1.92 1.15 0.9711540 0.5616014
Watford                  1.65 1.08 0.8196041 0.6244023
Norwich City             1.51 1.19 0.7309385 0.5274100

In [146]:
alphaList<-df.prem$alpha
deltaList<-df.prem$delta
names(alphaList)<-rownames(df.prem)
names(deltaList)<-rownames(df.prem)

alphaList

         Manchester City                Liverpool                  Chelsea
               1.3835395                1.3904124                1.1901222
                 Arsenal        Tottenham Hotspur        Manchester United
               1.0889370                1.1774904                1.1027303
             Aston Villa          West Ham United Brighton and Hove Albion
               1.0069634                1.0219263                0.9340144
          Crystal Palace            Wolverhampton              Southampton
               0.9554056                0.8669502                0.9815168
          Leicester City                Brentford                Newcastle
               1.0317786                0.9066155                0.8784446
                 Burnley                  Everton             Leeds United
               0.8012550                0.8494571                0.9711540
                 Watford             Norwich City
               0.8196041                0.7309385

In [147]:
draw.score<-function(team1,team2){
    c(
        rpois(1,exp(alphaList[team1]-deltaList[team2])),
  rpois(1,exp(alphaList[team2]-deltaList[team1]))
    )
}
draw.score("Liverpool","Arsenal")

[1] 0 0

In [148]:
library('gtools')
# All possible matches in a season
allMatches<-permutations(20, 2, v=rownames(df.prem),repeats.allowed=FALSE)
colnames(allMatches)<-c("home","away")
head(allMatches,40)
nrow(allMatches)

      home        away
 [1,] Arsenal     Aston Villa
 [2,] Arsenal     Brentford
 [3,] Arsenal     Brighton and Hove Albion
 [4,] Arsenal     Burnley
 [5,] Arsenal     Chelsea
 [6,] Arsenal     Crystal Palace
 [7,] Arsenal     Everton
 [8,] Arsenal     Leeds United
 [9,] Arsenal     Leicester City
[10,] Arsenal     Liverpool
[11,] Arsenal     Manchester City
[12,] Arsenal     Manchester United
[13,] Arsenal     Newcastle
[14,] Arsenal     Norwich City
[15,] Arsenal     Southampton
[16,] Arsenal     Tottenham Hotspur
[17,] Arsenal     Watford
[18,] Arsenal     West Ham United
[19,] Arsenal     Wolverhampton
[20,] Aston Villa Arsenal
[21,] Aston Villa Brentford
[22,] Aston Villa Brighton and Hove Albion
[23,] Aston Villa Burnley
[24,] Aston Villa Chelsea
[25,] Aston Villa Crystal Palace
[26,] Aston Villa Everton
[27,] Aston Villa Leeds United
[28,] Aston Villa Leicester City
[29,] Aston Villa Liverpool
[30,] Aston Villa Manchester City
[31,] Aston Villa Manchester United
[32,] Aston Villa Newcastle
[33,] Aston Villa Norwich City
[34,] Aston Villa Southampton
[35,] Aston Villa Tottenham Hotspur
[36,] Aston Villa Watford
[37,] Aston Villa West Ham United
[38,] Aston Villa Wolverhampton
[39,] Brentford   Arsenal
[40,] Brentford   Aston Villa

[1] 380

In [149]:
ScoresMatrix <- matrix(nrow=nrow(allMatches),  ncol=4)
for (ii in 1:nrow(allMatches)  ) {
     ScoresMatrix[ii,1:2]=allMatches[ii,]
     ScoresMatrix[ii,3:4]= draw.score(allMatches[ii,"home"],allMatches[ii,"away"] )
}
colnames(ScoresMatrix)<-c("home.team","away.team","home.score","away.score")
# ScoresMatrix
head(ScoresMatrix)

     home.team away.team                home.score away.score
[1,] Arsenal   Aston Villa              1          2
[2,] Arsenal   Brentford                2          0
[3,] Arsenal   Brighton and Hove Albion 2          0
[4,] Arsenal   Burnley                  0          0
[5,] Arsenal   Chelsea                  1          2
[6,] Arsenal   Crystal Palace           2          1

In [150]:
PointsMatrix <- as.data.frame(ScoresMatrix)

PointsMatrix[, 'home_points'] <- NA
PointsMatrix[, 'away_points'] <- NA

head(PointsMatrix)

  home.team away.team                home.score away.score home_points
1 Arsenal   Aston Villa              1          2          NA
2 Arsenal   Brentford                2          0          NA
3 Arsenal   Brighton and Hove Albion 2          0          NA
4 Arsenal   Burnley                  0          0          NA
5 Arsenal   Chelsea                  1          2          NA
6 Arsenal   Crystal Palace           2          1          NA
  away_points
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

In [151]:
for (i in 1:nrow(PointsMatrix)){
    if (PointsMatrix[i,3] > PointsMatrix[i,4]){
        PointsMatrix[i,5] = 3
        PointsMatrix[i,6] = 0
        } else if (PointsMatrix[i,3] == PointsMatrix[i,4]){
        PointsMatrix[i,5] = 1
        PointsMatrix[i,6] = 1
        } else if (PointsMatrix[i,3] < PointsMatrix[i,4]){
        PointsMatrix[i,5] = 0
        PointsMatrix[i,6] = 3
    }      
}

head(PointsMatrix)

  home.team away.team                home.score away.score home_points
1 Arsenal   Aston Villa              1          2          0
2 Arsenal   Brentford                2          0          3
3 Arsenal   Brighton and Hove Albion 2          0          3
4 Arsenal   Burnley                  0          0          1
5 Arsenal   Chelsea                  1          2          0
6 Arsenal   Crystal Palace           2          1          3
  away_points
1 3
2 0
3 0
4 1
5 3
6 0

In [152]:
df.points <- as.data.frame(ScoresMatrix)

name <- rownames(df.prem)

for (i in 1:20){
    df.points[, name[i]] <- 0
}

head(df.points)

name

  home.team away.team                home.score away.score Manchester City
1 Arsenal   Aston Villa              1          2          0
2 Arsenal   Brentford                2          0          0
3 Arsenal   Brighton and Hove Albion 2          0          0
4 Arsenal   Burnley                  0          0          0
5 Arsenal   Chelsea                  1          2          0
6 Arsenal   Crystal Palace           2          1          0
  Liverpool Chelsea Arsenal Tottenham Hotspur Manchester United ⋯ Wolverhampton
1 0         0       0       0                 0                 ⋯ 0
2 0         0       0       0                 0                 ⋯ 0
3 0         0       0       0                 0                 ⋯ 0
4 0         0       0       0                 0                 ⋯ 0
5 0         0       0       0                 0                 ⋯ 0
6 0         0       0       0                 0                 ⋯ 0
  Southampton Leicester City Brentford Newcastle Burnley Everton Leeds United
1 0           0              0         0         0       0       0
2 0           0              0         0         0       0       0
3 0           0              0         0         0       0       0
4 0           0              0         0         0       0       0
5 0           0              0         0         0       0       0
6 0           0              0         0         0       0       0
  Watford Norwich City
1 0       0
2 0       0
3 0       0
4 0       0
5 0       0
6 0       0

 [1] "Manchester City"          "Liverpool"
 [3] "Chelsea"                  "Arsenal"
 [5] "Tottenham Hotspur"        "Manchester United"
 [7] "Aston Villa"              "West Ham United"
 [9] "Brighton and Hove Albion" "Crystal Palace"
[11] "Wolverhampton"            "Southampton"
[13] "Leicester City"           "Brentford"
[15] "Newcastle"                "Burnley"
[17] "Everton"                  "Leeds United"
[19] "Watford"                  "Norwich City"

In [153]:
for (i in 1:380){
    for (j in 1:20){
        if (df.points[i,1] == name[j]){
            if (df.points[i,3] > df.points[i,4]){
                df.points[i,j+4] = 3
            } else if (df.points[i,3] == df.points[i,4]){
                df.points[i,j+4] = 1
            } else if (df.points[i,3] < df.points[i,4]){
                df.points[i,j+4] = 0
            } 
        } 
        if (df.points[i,2] == name[j]){
            if (df.points[i,3] > df.points[i,4]){
                df.points[i,j+4] = 0
            } else if (df.points[i,3] == df.points[i,4]){
                df.points[i,j+4] = 1
            } else if (df.points[i,3] < df.points[i,4]){
                df.points[i,j+4] = 3
            }      
        }
    }   
}
     
head(df.points)

  home.team away.team                home.score away.score Manchester City
1 Arsenal   Aston Villa              1          2          0
2 Arsenal   Brentford                2          0          0
3 Arsenal   Brighton and Hove Albion 2          0          0
4 Arsenal   Burnley                  0          0          0
5 Arsenal   Chelsea                  1          2          0
6 Arsenal   Crystal Palace           2          1          0
  Liverpool Chelsea Arsenal Tottenham Hotspur Manchester United ⋯ Wolverhampton
1 0         0       0       0                 0                 ⋯ 0
2 0         0       3       0                 0                 ⋯ 0
3 0         0       3       0                 0                 ⋯ 0
4 0         0       1       0                 0                 ⋯ 0
5 0         3       0       0                 0                 ⋯ 0
6 0         0       3       0                 0                 ⋯ 0
  Southampton Leicester City Brentford Newcastle Burnley Everton Leeds United
1 0           0              0         0         0       0       0
2 0           0              0         0         0       0       0
3 0           0              0         0         0       0       0
4 0           0              0         0         1       0       0
5 0           0              0         0         0       0       0
6 0           0              0         0         0       0       0
  Watford Norwich City
1 0       0
2 0       0
3 0       0
4 0       0
5 0       0
6 0       0

In [154]:
# df.points[nrow(df.points)+1,] <- NA

# for (i in 5:24){
#     df.points[nrow(df.points),i] = sum(df.points[1:(nrow(df.points)-1),i])
# }

# head(df.points)

In [155]:
# df.teams <- t(data.frame(df.points[nrow(df.points), 5:24]))
# colnames(df.teams)[1] <- 'points'
# df.teams

In [156]:
df.points_goalsfor <- as.data.frame(ScoresMatrix)
df.points_goalsagainst <- as.data.frame(ScoresMatrix)

name <- rownames(df.prem)
name_df <- as.data.frame(name)
name_df$goals_for=paste0(name_df$name,"_goalsfor")
name_df$goals_against=paste0(name_df$name,"_goalsagainst")
name_goalsfor <- subset(name_df, select = c("goals_for"))
name_goalsagainst <- subset(name_df, select = c("goals_against"))
goals_for <- as.character(name_goalsfor[,1])
goals_against <- as.character(name_goalsagainst[,1])

for (i in 1:20){
    df.points_goalsfor[, name[i]] <- 0
}

for (i in 1:20){
    df.points_goalsagainst[, name[i]] <- 0
}

In [157]:
# GOALS FOR
for (i in 1:380){
    for (j in 1:20){
        if (df.points_goalsfor[i,1] == name[j]){ # looking at home team
            df.points_goalsfor[i,j+4] = df.points_goalsfor[i,3]  # home points go to goals for
        }
        if (df.points_goalsfor[i,2] == name[j]){ # looking at away team
            df.points_goalsfor[i,j+4] = df.points_goalsfor[i,4] # away points go to goals for
        }
    }
}

# GOALS AGAINST
for (i in 1:380){
    for (j in 1:20){
        if (df.points_goalsagainst[i,1] == name[j]){ # looking at home team
            df.points_goalsagainst[i,j+4] = df.points_goalsagainst[i,4]  # home points go to goals for
        }
        if (df.points_goalsagainst[i,2] == name[j]){ # looking at away team
            df.points_goalsagainst[i,j+4] = df.points_goalsagainst[i,3] # away points go to goals for
        }
    }
}

In [158]:
points <- df.points[,c(-1,-2,-3,-4)]
points <- sapply(points, as.numeric)
points_sum <- as.data.frame(colSums(points))

goalsfor <- df.points_goalsfor[,c(-1,-2,-3,-4)]
goalsfor <- sapply(goalsfor, as.numeric)
goalsfor_sum <- as.data.frame(colSums(goalsfor))

goalsagainst <- df.points_goalsagainst[,c(-1,-2,-3,-4)]
goalsagainst <- sapply(goalsagainst, as.numeric)
goalsagainst_sum <- as.data.frame(colSums(goalsagainst))

In [202]:
df.teams <- cbind(points_sum, goalsfor_sum, goalsagainst_sum)
colnames(df.teams)[1] <- 'points'
colnames(df.teams)[2] <- 'goals_for'
colnames(df.teams)[3] <- 'goals_against'

In [203]:
library(dplyr)
df.teams <- df.teams %>%
    mutate(net_goals = goals_for - goals_against) %>%
    mutate(tie_breaker = runif(20, 0, 1))

In [204]:
df.teams

                         points goals_for goals_against net_goals tie_breaker
Manchester City          96     70         6             64       0.11710963
Liverpool                95     67        10             57       0.24710604
Chelsea                  78     58        22             36       0.71175175
Arsenal                  59     44        33             11       0.29021488
Tottenham Hotspur        69     54        31             23       0.81398516
Manchester United        51     40        32              8       0.98955333
Aston Villa              46     31        41            -10       0.65132695
West Ham United          46     32        38             -6       0.01145490
Brighton and Hove Albion 50     37        38             -1       0.59157641
Crystal Palace           58     36        30              6       0.07089642
Wolverhampton            52     35        31              4       0.94181525
Southampton              47     39        46             -7       0.37493767
Leicester City           36     39        62            -23       0.98662274
Brentford                47     39        41             -2       0.56954908
Newcastle                39     37        53            -16       0.37148275
Burnley                  44     36        47            -11       0.84056990
Everton                  41     43        54            -11       0.84688516
Leeds United             27     33        72            -39       0.78046899
Watford                  15     18        61            -43       0.91156700
Norwich City             45     27        67            -40       0.44501340

In [207]:
df.teams1 <- df.teams
df.teams1$team_rank <- rank(desc(df.teams1$points))
df.teams1$goals_rank <- rank(desc(df.teams1$net_goals))
df.teams1$goalsfor_rank <- rank(desc(df.teams1$goals_for))
df.teams1

                         points goals_for goals_against net_goals tie_breaker
Manchester City          96     70         6             64       0.11710963
Liverpool                95     67        10             57       0.24710604
Chelsea                  78     58        22             36       0.71175175
Arsenal                  59     44        33             11       0.29021488
Tottenham Hotspur        69     54        31             23       0.81398516
Manchester United        51     40        32              8       0.98955333
Aston Villa              46     31        41            -10       0.65132695
West Ham United          46     32        38             -6       0.01145490
Brighton and Hove Albion 50     37        38             -1       0.59157641
Crystal Palace           58     36        30              6       0.07089642
Wolverhampton            52     35        31              4       0.94181525
Southampton              47     39        46             -7       0.37493767
Leicester City           36     39        62            -23       0.98662274
Brentford                47     39        41             -2       0.56954908
Newcastle                39     37        53            -16       0.37148275
Burnley                  44     36        47            -11       0.84056990
Everton                  41     43        54            -11       0.84688516
Leeds United             27     33        72            -39       0.78046899
Watford                  15     18        61            -43       0.91156700
Norwich City             45     27        67            -40       0.44501340
                         team_rank goals_rank goalsfor_rank
Manchester City           1.0       1.0        1.0
Liverpool                 2.0       2.0        2.0
Chelsea                   3.0       3.0        3.0
Arsenal                   5.0       5.0        5.0
Tottenham Hotspur         4.0       4.0        4.0
Manchester United         8.0       6.0        7.0
Aston Villa              12.5      13.0       18.0
West Ham United          12.5      11.0       17.0
Brighton and Hove Albion  9.0       9.0       11.5
Crystal Palace            6.0       7.0       13.5
Wolverhampton             7.0       8.0       15.0
Southampton              10.5      12.0        9.0
Leicester City           18.0      17.0        9.0
Brentford                10.5      10.0        9.0
Newcastle                17.0      16.0       11.5
Burnley                  15.0      14.5       13.5
Everton                  16.0      14.5        6.0
Leeds United             19.0      18.0       16.0
Watford                  20.0      20.0       20.0
Norwich City             14.0      19.0       19.0

In [206]:
for (ii in 1:nrow(df.teams1)){
    for (jj in 1:nrow(df.teams1)){
        if (ii != jj & df.teams1[ii,6] == df.teams1[jj,6]){
            if (df.teams1[ii,7] > df.teams1[jj,7]){
                df.teams1[ii,6] = df.teams1[ii,6]+0.5
                df.teams1[jj,6] = df.teams1[jj,6]-0.5
            } else if (df.teams1[ii,7] == df.teams1[jj,7]){
                if (df.teams1[ii,8] > df.teams1[jj,8]){
                    df.teams1[ii,6] = df.teams1[ii,6]+0.5
                    df.teams1[jj,6] = df.teams1[jj,6]-0.5
                } else if (df.teams1[ii,8] == df.teams1[jj,8]){                   
                    if (df.teams1[ii,5] > df.teams1[jj,5]){
                    df.teams1[ii,6] = df.teams1[ii,6]+0.5
                    df.teams1[jj,6] = df.teams1[jj,6]-0.5
                    }   
                }
            }
        }
    }
}

df.teams1

                         points goals_for goals_against net_goals tie_breaker
Manchester City          96     70         6             64       0.11710963
Liverpool                95     67        10             57       0.24710604
Chelsea                  78     58        22             36       0.71175175
Arsenal                  59     44        33             11       0.29021488
Tottenham Hotspur        69     54        31             23       0.81398516
Manchester United        51     40        32              8       0.98955333
Aston Villa              46     31        41            -10       0.65132695
West Ham United          46     32        38             -6       0.01145490
Brighton and Hove Albion 50     37        38             -1       0.59157641
Crystal Palace           58     36        30              6       0.07089642
Wolverhampton            52     35        31              4       0.94181525
Southampton              47     39        46             -7       0.37493767
Leicester City           36     39        62            -23       0.98662274
Brentford                47     39        41             -2       0.56954908
Newcastle                39     37        53            -16       0.37148275
Burnley                  44     36        47            -11       0.84056990
Everton                  41     43        54            -11       0.84688516
Leeds United             27     33        72            -39       0.78046899
Watford                  15     18        61            -43       0.91156700
Norwich City             45     27        67            -40       0.44501340
                         team_rank goals_rank goalsfor_rank
Manchester City           1         1.0        1.0
Liverpool                 2         2.0        2.0
Chelsea                   3         3.0        3.0
Arsenal                   5         5.0        5.0
Tottenham Hotspur         4         4.0        4.0
Manchester United         8         6.0        7.0
Aston Villa              13        13.0       18.0
West Ham United          12        11.0       17.0
Brighton and Hove Albion  9         9.0       11.5
Crystal Palace            6         7.0       13.5
Wolverhampton             7         8.0       15.0
Southampton              11        12.0        9.0
Leicester City           18        17.0        9.0
Brentford                10        10.0        9.0
Newcastle                17        16.0       11.5
Burnley                  15        14.5       13.5
Everton                  16        14.5        6.0
Leeds United             19        18.0       16.0
Watford                  20        20.0       20.0
Norwich City             14        19.0       19.0